.container{
    display: flex;
    min-height: 100vh;
    background-color: #f6f4f2;
}

.container img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.container form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;
    padding: 4rem 6rem;
}

.rowContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Text */

.rowContainer h1{
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #000;
    margin: 0;
}

.rowContainer h2{
    font-family: 'EB Garamond', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: #000;

    margin: 0;
}

.rowContainer p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 400;
    line-height: 1.8;
    color: #444748;

    margin: 0;
}

/* Labels */

.rowContainer label{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    margin-bottom: 0.5rem;
    color: #444748;
}

/* Inputs */

.inputEmail,
.inputPassword{
    width: 100%;
    padding: 0.9rem 1rem;

    border: 1px solid #c4c7c7;
    border-radius: 4px;

    font-size: 1rem;
    background: transparent;

    transition: border-color .3s ease;
}

.inputEmail:focus,
.inputPassoword:focus{
    outline: none;
    border-color: #000;
}

.error{
    border: 1px solid #ba1a1a;
}
.success{
    border: 1px solid #139202;
}

/* Password Row */

.rowContainer  div{
    width: 100%;
}

.labelPassword{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot{
    font-size: 0.85rem;
    color: #000;
    text-decoration: none;

    cursor: pointer;
    transition: opacity .2s ease;
}

.forgot:hover{
    opacity: 0.7;
}

/* Buttons */

.loginButton{
    width: 100%;
    padding: 1rem;

    border: none;
    border-radius: 4px;

    background: #000;
    color: white;

    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1em;

    cursor: pointer;
    transition: opacity .2s ease;
}

.loginButton:hover{
    opacity: 0.9;
}
.googleButton{
    width: 100%;
    padding: 1rem;

    border: 1px solid #c4c7c7;
    border-radius: 4px;

    background: transparent;

    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1em;

    cursor: pointer;
    transition: background .2s ease;
}

.googleButton:hover{
    background: #f5f3f3;
}

/* Divider */

.divider{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divider div{
    flex: 1;
    height: 1px;
    background: #c4c7c7;
}

.divider span{
    color: #747878;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.08em;
}



@media (max-width: 1000px){

    .container img{
        display: none;
    }

    .container form{
        width: 100%;
        padding: 2rem;
    }

}