.container{
    min-height: 350px;

    display: flex;
    justify-content: space-around   ;
    align-items: flex-start;

    gap: 4rem;
    padding: 6rem 2rem;
    border-top: 1px solid #dbdad9;

    background-color: #f6f4f2;
}

.links{
    display: flex;
    gap: 6rem;
}

.rowInfo{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.rowInfo h2{
    font-family: 'EB Garamond', serif;
    font-size: 1.75rem; 
    font-weight: 400;
    letter-spacing: -0.05em;

    color: #000;
}

.rowInfo h3{
    font-family: 'Hanken Grotesk', sans-serif;

    font-size: .875rem;
    font-weight: 600;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #000;

    margin-bottom: 1rem;
}

.rowInfo p{
    font-family: 'Hanken Grotesk', sans-serif;

    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 400;

    

    color: #444748
}

.rowInfo a{
    font-family: 'Hanken Grotesk', sans-serif;

    font-size: clamp(1rem, 1.5vw, 1.125rem);
    font-weight: 400;

    text-decoration: none;

    color: #444748;
    transition: opacity .2s ease;
}

.rowInfo a:hover{

    opacity: .6;

}


@media (max-width: 768px){

    .container{
        flex-direction: column;

        gap: 3rem;
    }

    .container nav{
        width: 100%;

        justify-content: flex-start;
    }

}